.navbar {
  background-color: white !important; /* White background */
  color: royalblue !important; /* Ensures text inside navbar is blue */
  box-shadow: none !important; /* Removes the default MUI shadow */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: royalblue !important; /* Blue logo text */
  text-decoration: none !important; /* No underline */
}

.welcomeMessage {
  color: royalblue; /* Ensures welcome message text is black */
  margin-left: 16px;
  font-weight: bold;

}

.searchContainer {
  flex: 1;
  max-width: 300px;
  margin: 0 1rem;
}
